html {
	font-size: 14px;
	height: 100vh;
	min-height: 100vh;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

body {
	height: 100vh;
	min-height: 100vh;
}

.h6, h6 {
	font-size: 1rem !important;
	font-weight: bold;
}

.h5, h5 {
	font-size: 1.2rem !important;
	font-weight: bold;
}

.h4, h4 {
	font-size: 1.4rem !important;
	font-weight: bold;
}

.h3, h3 {
	font-size: 1.6rem !important;
	font-weight: bold;
}

.h2, h2 {
	font-size: 1.8rem !important;
	font-weight: bold;
}

.h1, h1 {
	font-size: 2rem !important;
	font-weight: bold;
}

.hr {
	height: 1px;
	border-style: solid;
}

.hr-light {
	color: #ffffff;
	background-color: #ffffff;
	border-color: #ffffff;
}

.hr-dark {
	color: #696969;
	background-color: #696969;
	border-color: #696969;
}

pre,
code {
	overflow-x: auto;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.fs-s1 {
	font-size: 0.75rem !important;
}

.fs-s2 {
	font-size: 0.5rem !important;
}

.fs-s3 {
	font-size: 0.25rem !important;
}

.card-deck {
	display: flex;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

	.card-deck .card {
		-webkit-flex: 50%;
		-ms-flex: 50%;
		-o-flex: 50%;
		flex: 50%;
		margin: 0.375rem !important;
		padding: 0.5rem !important;
	}

@media (min-width: 576px) {
	.card-deck .card {
		-webkit-flex: calc(100% - 30px);
		-ms-flex: calc(100% - 30px);
		-o-flex: calc(100% - 30px);
		flex: calc(100% - 30px);
	}
}

@media (min-width: 768px) {
	.card-deck .card {
		-webkit-flex: calc(50% - 30px);
		-ms-flex: calc(50% - 30px);
		-o-flex: calc(50% - 30px);
		flex: calc(50% - 30px);
	}
}

@media (min-width: 992px) {
	.card-deck .card {
		-webkit-flex: calc(20% - 30px);
		-ms-flex: calc(20% - 30px);
		-o-flex: calc(20% - 30px);
		flex: calc(20% - 30px);
	}
}

.card-deck2 {
	display: flex;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}

	.card-deck2 .card {
		-webkit-flex: 100%;
		-ms-flex: 100%;
		-o-flex: 100%;
		flex: 100%;
		border-width: 0;
		-ms-border-radius: 0;
		border-radius: 0;
		margin: 0 !important;
		padding: 0 !important;
	}

	.card-deck2 .img-placeholder {
		width: 100%;
		margin: 0 !important;
		padding: 4px !important;
		overflow: hidden !important;
	}

	.card-deck2 .drop-zone {
		margin: 0 !important;
		overflow: hidden !important;
	}

@media (min-width: 576px) {
	.card-deck2 .card {
		-webkit-flex: calc(100% - 4px);
		-ms-flex: calc(100% - 4px);
		-o-flex: calc(100% - 4px);
		flex: calc(100% - 4px);
	}
}

@media (min-width: 768px) {
	.card-deck2 .card {
		-webkit-flex: calc(50% - 4px);
		-ms-flex: calc(50% - 4px);
		-o-flex: calc(50% - 4px);
		flex: calc(50% - 4px);
	}
}

@media (min-width: 992px) {
	.card-deck2 .card {
		-webkit-flex: calc(50% - 4px);
		-ms-flex: calc(50% - 4px);
		-o-flex: calc(50% - 4px);
		flex: calc(50% - 4px);
	}
}

.card-deck .tile {
	display: block !important;
	-webkit-flex: 50%;
	-ms-flex: 50%;
	-o-flex: 50%;
	flex: 50%;
	margin: 0.125rem !important;
	padding: 0 !important;
}

@media (min-width: 576px) {
	.card-deck .tile {
		-webkit-flex: calc(100% - 30px);
		-ms-flex: calc(100% - 30px);
		-o-flex: calc(100% - 30px);
		flex: calc(100% - 30px);
	}
}

@media (min-width: 768px) {
	.card-deck .tile {
		-webkit-flex: calc(50% - 30px);
		-ms-flex: calc(50% - 30px);
		-o-flex: calc(50% - 30px);
		flex: calc(50% - 30px);
	}
}

@media (min-width: 992px) {
	.card-deck .tile {
		-webkit-flex: calc(20% - 30px);
		-ms-flex: calc(20% - 30px);
		-o-flex: calc(20% - 30px);
		flex: calc(20% - 30px);
	}
}

.list-deck .list-group-item {
	-webkit-flex: 25%;
	-ms-flex: 25%;
	-o-flex: 25%;
	flex: 25%;
	margin: 0.375rem !important;
	padding: 0.5rem !important;
}

@media (min-width: 576px) {
	.list-deck .list-group-item {
		-webkit-flex: calc(25% - 4px);
		-ms-flex: calc(25% - 4px);
		-o-flex: calc(25% - 4px);
		flex: calc(25% - 4px);
	}
}

@media (min-width: 768px) {
	.list-deck .list-group-item {
		-webkit-flex: calc(25% - 4px);
		-ms-flex: calc(25% - 4px);
		-o-flex: calc(25% - 4px);
		flex: calc(25% - 4px);
	}
}

@media (min-width: 992px) {
	.list-deck .list-group-item {
		-webkit-flex: calc(20% - 4px);
		-ms-flex: calc(20% - 4px);
		-o-flex: calc(20% - 4px);
		flex: calc(20% - 4px);
	}
}

.list-deck-icons .list-group-item {
	-webkit-flex: 10%;
	-ms-flex: 10%;
	-o-flex: 10%;
	flex: 10%;
	margin: 0.375rem !important;
	padding: 0.5rem !important;
}

@media (min-width: 576px) {
	.list-deck-icons .list-group-item {
		-webkit-flex: calc(10% - 4px);
		-ms-flex: calc(10% - 4px);
		-o-flex: calc(10% - 4px);
		flex: calc(10% - 4px);
	}
}

@media (min-width: 768px) {
	.list-deck-icons .list-group-item {
		-webkit-flex: calc(10% - 4px);
		-ms-flex: calc(10% - 4px);
		-o-flex: calc(10% - 4px);
		flex: calc(10% - 4px);
	}
}

@media (min-width: 992px) {
	.list-deck-icons .list-group-item {
		-webkit-flex: calc(5% - 4px);
		-ms-flex: calc(5% - 4px);
		-o-flex: calc(5% - 4px);
		flex: calc(5% - 4px);
	}
}

.menu-item {
	white-space: nowrap !important;
}

.form-control[readonly],
.form-control disabled {
	background-color: transparent;
}

.form-check-input {
	margin-left: 0 !important;
	margin-right: 0 !important;
	float: none !important;
}

.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
	-ms-transform: translateY(-1rem) translateX(0);
	-webkit-transform: translateY(-1rem) translateX(0);
	transform: translateY(-1rem) translateX(0);
}

span.oi {
	font-size: 16px;
}

.card {
	word-wrap: normal;
	overflow-y: auto;
}

.card-header {
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

	.card-header.collapsible:after {
		font-family: 'FontAwesome';
		content: "\f068";
		float: right;
	}

	.card-header.collapsible.collapsed:after {
		content: "\f067";
	}

.card-image-top,
.card-image-bottom {
	width: 100%;
	height: 15vw;
	-webkit-object-fit: contain;
	object-fit: contain;
}

.card-image-left,
.card-image-right {
	width: 15vw;
	height: 100%;
	-webkit-object-fit: contain;
	object-fit: contain;
}

.img-list {
	width: 40px;
	height: auto;
}

.img-placeholder {
	display: flex;
	margin: 1rem 0;
	width: 50%;
	max-width: 100%;
	height: auto;
	padding: 0.25rem;
	background-color: transparent;
	position: relative;
}

	.img-placeholder:before {
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 0.8rem;
		z-index: 1;
	}

	.img-placeholder * {
		cursor: pointer;
	}

	.img-placeholder img {
		position: relative;
		z-index: 1;
		vertical-align: middle;
		width: 100%;
	}

	.img-placeholder input[type=file] {
		position: absolute;
		z-index: 2;
		width: 100%;
		height: 100%;
		-ms-opacity: 0;
		opacity: 0;
	}

.drop-zone {
	display: flex;
	margin: 1rem 0;
	width: 100%;
	height: 100%;
	padding: 0.25rem;
	background-color: transparent;
	position: relative;
}

	.drop-zone:before {
		font-weight: bold;
		text-transform: uppercase;
		position: relative;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 0.8rem;
		z-index: 1000;
	}

	.drop-zone .zone-item {
		display: none;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.drop-zone .active {
		display: block;
	}

	.drop-zone .zone-footer {
		display: flex;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: .5rem;
	}

.table tr.highlight {
	background-color: #ddd;
}

	.table tr.highlight:hover {
		background-color: #bbb;
	}

.cc-btn.cc-dismiss {
	color: #ffffff;
}

.overflow-y-visible {
	overflow-y: visible !important;
}

.multiselect-tags .tag {
	padding: 4px;
	margin: 2px;
}

	.multiselect-tags .tag img.option__image {
		max-height: 24px;
		margin-right: 8px;
	}

	.multiselect-tags .tag i:before {
		-ms-border-radius: 50%;
		border-radius: 50%;
	}

.multiselect-option img.option__image {
	max-width: 64px;
	margin: 4px;
}

.multiselect-option .option__desc {
	padding: 4px;
}

.p-autocomplete-item i:before {
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.p-autocomplete-item img.option__image {
	max-width: 32px;
	height: auto;
	margin: 4px;
}

.p-autocomplete-item .option__desc {
	padding: 4px;
}

.p-listbox .p-listbox-header {
	background: none !important;
}

.p-fileupload-buttonbar {
	background: none !important;
	padding: 0.5rem !important;
}

.simple-typeahead > input {
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
	outline: 0 !important;
}

.avatar-image {
	min-width: 16px;
}

.cc-btn.cc-dismiss {
	color: #ffffff;
}

.overflow-y-visible {
	overflow-y: visible !important;
}

.p-galleria-item-wrapper .p-galleria-item-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.p-galleria-item-wrapper .img-fluid {
	width: 100%;
	margin: auto;
}

.p-galleria-item-wrapper .p-galleria-item-nav {
	position: absolute;
	top: calc(50% + 32px);
	z-index: 1000;
}

.p-galleria-indicator-onitem .p-galleria-indicators {
	background: none !important;
	position: relative;
}

	.p-galleria-indicator-onitem .p-galleria-indicators .p-galleria-indicator button {
		width: 0.5rem;
		height: 0.5rem;
		-ms-border-radius: 50%;
		border-radius: 50%;
	}

.glleria .fullScreen {
	display: flex;
	flex-direction: column;
	position: relative;
}

.fullScreen .p-galleria-content {
	-o-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	-o-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.fullScreen .p-galleria-item-wrapper .p-galleria-item-container {
	position: relative;
	width: 100%;
}

.fullScreen .p-galleria-item-wrapper .img-fluid {
	width: auto !important;
	max-height: 100%;
	height: 100vh;
}

.fullScreen .p-galleria-item-wrapper .p-galleria-item-nav {
	top: calc(100vh / 2 - 32px);
}

.fullScreen .p-galleria-indicators {
	position: absolute;
	bottom: auto !important;
}

.fullScreen .p-galleria-thumbnail-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.fullScreen .zone-footer {
	position: fixed !important;
}
