@{
	if (ViewData.TryGetValue("ParentLayout", out object parentLayout))
	{
		Layout = (string)parentLayout;
	}
	else
	{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}
}

<h1>إدارة المحتوى</h1>
<hr />

<div class="row">
	<div class="col-md-3">
		<ul class="nav nav-pills flex-column p-0">
			<li class="nav-item"><a class="nav-link" menu-route asp-area="Admin" asp-controller="Home" asp-action="Index">المحتوى</a></li>
			<li class="nav-item"><a class="nav-link" menu-route asp-area="Admin" asp-controller="Ads" asp-action="Index">الاعلانات</a></li>
			<li class="nav-item"><a class="nav-link" menu-route asp-area="Admin" asp-controller="Buildings" asp-action="Index">العقارات</a></li>
			<li class="nav-item"><a class="nav-link" menu-route asp-area="Admin" asp-controller="Cities" asp-action="Index">تعريفات المدن</a></li>
		</ul>
	</div>
	<div class="col-md-9">
		@RenderBody()
	</div>
</div>

@section Scripts {
	@RenderSection("Scripts", false)
}
