@using HammadBroker.Model.DTO
@model BuildingToUpdate

@{
	ViewData["Title"] = "تعديل عقار";
	int id = Context.Request.RouteValues["id"].To(0);
}

@if (id > 0)
{
	<div class="row mb-1">
		<div class="col-12">
			<a asp-area="Admin" asp-controller="Buildings" asp-action="Add" class="btn btn-outline-primary border-0"><i class="fa fa-plus"></i> إضافة عقار</a>
		</div>
	</div>
}

@await Component.InvokeAsync(typeof(BuildingViewComponent), new BuildingModel
{
	Id = id,
	Building = Model,
	CanEdit = true,
	CanUpload = true
})