@page
@using HammadBroker.Web.Areas.Identity.Pages.Account.Manage
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "تنزيل بياناتك";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
