@page
@using HammadBroker.Web.Areas.Identity.Pages.Account.Manage
@using HammadBroker.Model.Entities
@using HammadBroker.Model
@model IndexModel
@{
	ViewData["Title"] = "الملف الشخصي";
	bool isAdmin = User.IsInRole(Role.Administrators);
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row g-0">
	<div class="col-md-12">
		<form id="profile-form" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="col-lg-2 mb-1">
				<img-avatar email="@Model.Input.Email" class="img-thumbnail" size="150" />
			</div>
			@if (isAdmin)
			{
				<div class="form-floating">
					<input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
					<label asp-for="Input.Email" class="form-label"></label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<div class="form-control border-0 form-check form-switch">
						<input asp-for="Input.EmailConfirmed" type="checkbox" role="switch" class="form-check-input"/>
					</div>
					<label asp-for="Input.EmailConfirmed" class="form-label"></label>
					<span asp-validation-for="Input.EmailConfirmed" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
					<label asp-for="Input.UserName" class="form-label"></label>
					<span asp-validation-for="Input.UserName" class="text-danger"></span>
				</div>
			}
			else
			{
				<div class="form-floating">
					@Html.DisplayFor(e => e.Email)
					<label asp-for="Email" class="form-label"></label>
				</div>
				<div class="form-floating">
					@Html.DisplayFor(e => e.Username)
					<label asp-for="Username" class="form-label"></label>
				</div>
			}
			<div class="form-floating">
				<input asp-for="Input.FirstName" class="form-control" aria-required="true" />
				<label asp-for="Input.FirstName" class="form-label"></label>
				<span asp-validation-for="Input.FirstName" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.LastName" class="form-control" />
				<label asp-for="Input.LastName" class="form-label"></label>
				<span asp-validation-for="Input.LastName" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.NickName" class="form-control" />
				<label asp-for="Input.NickName" class="form-label"></label>
				<span asp-validation-for="Input.NickName" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.PhoneNumber" class="form-control" />
				<label asp-for="Input.PhoneNumber" class="form-label"></label>
				<span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
			</div>
			@if (isAdmin)
			{
				<div class="form-floating">
					<div class="form-control border-0 form-check form-switch">
						<input asp-for="Input.PhoneNumberConfirmed" type="checkbox" role="switch" class="form-check-input"/>
					</div>
					<label asp-for="Input.PhoneNumberConfirmed" class="form-label"></label>
					<span asp-validation-for="Input.PhoneNumberConfirmed" class="text-danger"></span>
				</div>
			}
			<div class="form-floating">
				<select asp-for="Input.Gender" class="form-select" asp-items="Html.GetEnumSelectList<Genders>()">
				</select>
				<label asp-for="Input.Gender" class="form-label"></label>
				<span asp-validation-for="Input.Gender" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<input asp-for="Input.DateOfBirth" class="form-control" />
				<label asp-for="Input.DateOfBirth" class="form-label"></label>
				<span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
			</div>
			@if (isAdmin)
			{
				<div class="form-floating">
					<div class="form-control border-0 form-check form-switch">
						<input asp-for="Input.LockoutEnabled" type="checkbox" role="switch" class="form-check-input"/>
					</div>
					<label asp-for="Input.LockoutEnabled" class="form-label"></label>
					<span asp-validation-for="Input.LockoutEnabled" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.AccessFailedCount" class="form-control" />
					<label asp-for="Input.AccessFailedCount" class="form-label"></label>
					<span asp-validation-for="Input.AccessFailedCount" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.LockoutEnd" class="form-control" />
					<label asp-for="Input.LockoutEnd" class="form-label"></label>
					<span asp-validation-for="Input.LockoutEnd" class="text-danger"></span>
				</div>
			}
			<button id="update-profile-button" type="submit" class="btn btn-primary my-1">حفظ</button>
		</form>
	</div>
</div>

@section Scripts {
	<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
