@page
@using HammadBroker.Web.Areas.Identity.Pages.Account.Manage
@model ResetAuthenticatorModel
@{
	ViewData["Title"] = "إعادة تعيين مفتاح المصادقة";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
	<p>
		<span class="glyphicon glyphicon-warning-sign"></span>
		<strong>إذا قمت بإعادة تعيين مفتاح المصدق الخاص بك ، فلن يعمل تطبيق المصادقة حتى تقوم بإعادة تكوينه.</strong>
	</p>
	<p>
		تعمل هذه العملية على تعطيل المصادقة الثنائية حتى تتحقق من تطبيق المصادقة.
		إذا لم تكمل تكوين تطبيق المصادقة ، فقد تفقد الوصول إلى حسابك.
	</p>
</div>
<div>
	<form id="reset-authenticator-form" method="post">
		<button id="reset-authenticator-button" class="btn btn-danger" type="submit">تعيين</button>
	</form>
</div>
