@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "المصادقة الثنائية (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    ITrackingConsentFeature consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>ليس لديك رموز استرداد متبقية.</strong>
                    <p>يجب عليك <a asp-page="./GenerateRecoveryCodes">إنشاء مجموعة جديدة من رموز الاسترداد</a> before you can log in with a recovery code.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>يتبقى لديك رمز استرداد واحد.</strong>
                    <p>يمكنك <a asp-page="./GenerateRecoveryCodes">إنشاء مجموعة جديدة من رموز الاسترداد</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>لديك @Model.RecoveryCodesLeft رمز استرداد متبقي.</strong>
                    <p>يجب عليك <a asp-page="./GenerateRecoveryCodes">إنشاء مجموعة جديدة من رموز الاسترداد</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">إنسى هذا المتصفح</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">تعطيل</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">إعادة تعيين</a>
        }

        <h4>تطبيق المصادقة</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">أضف تطبيق مصادقة</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">إعداد تطبيق المصادقة</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">إعادة تعيين</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>لم يتم قبول سياسة الخصوصية وملفات تعريف الارتباط.</strong>
            <p>يجب عليك قبول السياسة قبل أن تتمكن من تمكين المصادقة الثنائية.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
