@page
@model HammadBroker.Web.Areas.Identity.Pages.Account.ForgotPasswordConfirmation
@{
	ViewData["Title"] = "نسيت كلمة المرور";
}

<h1>@ViewData["Title"]</h1>
<p>
	يرجى التحقق من بريدك الإلكتروني لإعادة تعيين كلمة المرور الخاصة بك.
</p>
