@page
@model HammadBroker.Web.Areas.Identity.Pages.Account.LockoutModel
@{
    ViewData["Title"] = "حساب موقوف";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">تم حظر هذا الحساب ، يرجى المحاولة مرة أخرى في وقت لاحق.</p>
</header>
