@page
@model HammadBroker.Web.Areas.Identity.Pages.Account.LoginWith2faModel
@{
	ViewData["Title"] = "توثيق ذو عاملين";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>تسجيل الدخول الخاص بك محمي بتطبيق المصادقة. أدخل رمز المصادقة أدناه.</p>
<div class="row g-0">
	<div class="col-md-12">
		<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
			<input asp-for="RememberMe" type="hidden" />
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
				<label asp-for="Input.TwoFactorCode" class="form-label"></label>
				<span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
			</div>
			<div class="form-floating">
				<div class="form-control border-0 form-check form-switch">
					<input asp-for="Input.RememberMachine" type="checkbox" role="switch" class="form-check-input" />
				</div>
				<label asp-for="Input.RememberMachine"></label>
			</div>
			<div>
				<button type="submit" class="w-100 btn btn-lg btn-outline-primary">الدخول</button>
			</div>
		</form>
	</div>
</div>
<p>
	لاتستطيع الوصول إلى جهاز المصادقة الخاصة بك؟ تستطيع
	<a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">الدخول باستخدام رمز الاسترداد</a>.
</p>

@section Scripts {
	<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}