@page
@model RegisterConfirmationModel
@{
	ViewData["Title"] = "تأكيد التسجيل";
}

<h1>@ViewData["Title"]</h1>
@{
	if (Model.DisplayConfirmAccountLink)
	{
		<p>
			لا يحتوي هذا التطبيق حاليًا على مرسل بريد إلكتروني حقيقي مسجل ، انظر <a href="https://aka.ms/aspaccountconf">هذا الرابط</a> لمعرفة كيفية تكوين مرسل بريد إلكتروني حقيقي.
			عادةً ما يتم إرسال هذا عبر البريد الإلكتروني: <a id="confirm-link" href="@Model.EmailConfirmationUrl">انقر هنا لتأكيد حسابك</a>
		</p>
	}
	else
	{
		<p>
			يرجى التحقق من بريدك الإلكتروني لتأكيد حسابك.
		</p>
	}
}

