@page
@model ResetPasswordConfirmationModel
@{
	ViewData["Title"] = "تأكيد إعادة تعيين كلمة المرور";
}

<h1>@ViewData["Title"]</h1>
<p>
	تم إعادة تعيين كلمة المرور الخاصة بك. <a asp-page="./Login">اضغط هنا لتسجيل الدخول</a>.
</p>
