@page
@model HammadBroker.Web.Pages.AboutModel
@{
	ViewData["Title"] = "من نحن";
}

<h1 class="d-flex flex-row justify-content-center align-items-end">
	<img src="@Url.Content("~/images/logo.jpg")" alt="@Model.CompanyInfo.Title" class="img-fluid m-1" style="max-width: 50rem;" />
	<span class="m-1">@Model.CompanyInfo.Title</span>
</h1>

<div class="row">
	@if (!string.IsNullOrEmpty(Model.CompanyInfo.Email))
	{
		<div class="form-floating">
			<input asp-for="CompanyInfo.Email" class="form-control border-0 border-0" disabled />
			<label asp-for="CompanyInfo.Email" class="form-label border-0"></label>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.CompanyInfo.Phone))
	{
		<div class="form-floating">
			<input asp-for="CompanyInfo.Phone" class="form-control border-0" disabled />
			<label asp-for="CompanyInfo.Phone" class="form-label border-0"></label>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.CompanyInfo.Mobile))
	{
		<div class="form-floating">
			<input asp-for="CompanyInfo.Mobile" class="form-control border-0" disabled />
			<label asp-for="CompanyInfo.Mobile" class="form-label border-0"></label>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.CompanyInfo.Address))
	{
		<div class="form-floating">
			<input asp-for="CompanyInfo.Address" class="form-control border-0" disabled />
			<label asp-for="CompanyInfo.Address" class="form-label border-0"></label>
		</div>
	}
	@if (!string.IsNullOrEmpty(Model.CompanyInfo.Address2))
	{
		<div class="form-floating">
			<input asp-for="CompanyInfo.Address2" class="form-control border-0" disabled />
			<label asp-for="CompanyInfo.Address2" class="form-label border-0"></label>
		</div>
	}
</div>
<div class="row">
	<div class="col-12">
		@Model.CompanyInfo.Description
	</div>
</div>
