@model HammadBroker.Model.DTO.CityToUpdate

@{
	ViewData["Title"] = "تعديل مدينة";
}

<form asp-area="Admin" asp-controller="Cities" asp-action="Edit" asp-route-id="@Context.Request.Query["id"]" Method="post" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly"></div>
	<div class="mb-1">
		<label asp-for="Name" class="form-label"></label>
		<input class="form-control" asp-for="Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-1">
		<button type="submit" class="btn btn-primary border-0 me-1">حفظ</button>
		<a class="btn btn-outline-primary border-0 me-1" asp-area="Admin" asp-controller="Cities" asp-action="Index">الغاء</a>
	</div>
</form>