@using HammadBroker.Model.DTO
@model CitiesPaginated
@{
	ViewData["Title"] = "المدن";
	bool showCountry = string.IsNullOrEmpty(Model.CountryCode);
}

<form class="row row-cols-lg-auto g-3 align-items-center" method="get" asp-area="Admin" asp-controller="Cities" asp-action="Index">
	<div class="col mb-3">
		<label class="form-label" asp-for="CountryCode"></label>
		@Html.DropDownListFor(e => e.CountryCode, Model.Countries.Select(e => new SelectListItem(e.Name, e.Id, e.Id == Model.CountryCode)), "[اختر]", new { @class = "form-select" })
	</div>
	<div class="col mb-3">
		<label class="form-label" asp-for="Search"></label>
		<input class="form-control" asp-for="Search" />
	</div>
	<div class="col mb-3">
		<button type="submit" class="w-100 btn btn-primary">بحث</button>
	</div>
</form>
<div class="row table-responsive">
	<table class="table table-borderless">
		<thead>
		<tr>
			<th>

			</th>
			@if (showCountry)
			{
			<th>البلد</th>
			}
			<th>المدينة</th>
		</tr>
		</thead>
		<tbody>
		@foreach (CityForList city in Model.Result)
		{
			<tr>
				<td></td>
				@if (showCountry)
				{
				<td>@city.CountryCode</td>
				}
				<td>@city.Name</td>
			</tr>
		}
		</tbody>
	</table>
</div>
<partial name="_PaginationPartial" model="Model.Pagination" />